<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target
      name="logfile" xsi:type="File" fileName="${basedir}Log_${shortdate}.Log"
      layout="${longdate}|${level:uppercase=true}|${callsite}|${message}" deleteOldFileOnStartup="true"
      createDirs="true"
    />
    <target name="console" xsi:type="ColoredConsole" layout="${level:uppercase=true}|${callsite}|${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="INFO" writeTo="logfile" />
    <logger name="*" minlevel="INFO" writeTo="console" />
  </rules>
</nlog>